

.form-row{
    padding-top: 2em;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}


.im {
    position: relative;
    left: 25.2%;
}



.btn{
    position: relative;
    top: 2.5em;
    letter-spacing: 0.1em;
}

.btn-produto{
    position: relative;
    left: 80%;
    top: 2%;
}

.btn-delete-produtos{
    position: relative;
    right: 12%;
    bottom: 5em;
}


.paragrafo{
    position: relative;
    top: 2.5em;
    letter-spacing: 0.1em;
}

.meu-hr {
    position: relative;
    top: 1.2em;
    display: flex;
    align-items: center;
  }
  .meu-hr hr {
    flex:1;
    border-color: #ccc;
}

.col{
    border: 1px solid #ccc;
    width: 100%;
}

.col-two{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    width: 100%;
    height: 250px;
}


.sl{
    position: relative;
    background-color: aqua;
}

.material-symbols-outlined {
    color: rgba(0, 110, 255, 0.863);
    position: absolute;
  font-variation-settings:
  'FILL' 300,
  'wght' 300,
  'GRAD' 110,
  'opsz' 148
}


.desc-1{
    display: flex;
}

.result{
    position: relative;
    left: 2%;
    bottom: 5px;
    padding-top: 5px;
    padding-right: 20em;
    border-radius: 5px;
    border: 1px solid #ccc;;   
}

.text-center-produto {
    font-family: cursive;
    position: relative;
    left: 10%;
    top: 32px;
}

.result-auter{
    width: 20%;
    position: relative;
    left: 2%;
    bottom: -5px;
    padding-top: 5px;
    padding-right: 9em;
    border-radius: 5px;
    border: 1px solid #ccc;;   
}

.alinhamento-result{
    display: flex;
}

.col-produtos{
    position: relative;
    left: 10%;
    top: 10px;
    display: block;
    border: 1px solid #afafaf;
    padding: 10px;
    width: 90%;
}

.col-auter{
    border: none;
    position: relative;
    top: 20px;
}

@media screen and (max-width: 760px) {
    .im {
        left: 0;
    }
}

@media screen and (max-width: 760px) {
    .btn-produto {
        position: relative;
        left: 70%;
        top: 0;
    }
}

